.Block{
    background-color:  rgb(0, 0, 128,0.6);
    padding:20px;
    margin:2rem;
    border-radius: 10px;
}
.sgup{
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    /* margin:300px; */
    margin-bottom: 5px;
    margin-top:5px;
    /* background-color: rgb(0, 0, 0,0.6); */
    filter: drop-shadow(0.5rem 0.3rem 0 rgb(0, 0, 0,0.6));

}
.content,.detail{
    text-align: center;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    font-weight: 600;
}
.detail{
    color: black;
}

.robo{
    margin:auto;
    padding:10px;
    text-align: center;
    border-radius:10px;
    border-width: 2px;
    border-style: solid;
    background-color: whitesmoke;
    max-width: 60%;

}
.robot{
    border-radius: 10px;
    height:250px;
    width:50%;
}
.future{
    color:blue;
}
.bottom{
    display: flex;
    justify-content: space-around;
    color: blue;
    font-weight: bolder;
    font-size: large;
}
