.image{
    height:200px;
    width: 100%;
    /* margin:20px; */
    padding:10px;
    filter: drop-shadow(0.3rem 0.2rem 0 rgb(30, 18, 5));
}
.main{
    margin:5px;
    padding-top:6px;
    padding-bottom:6px;
    background-color: rgba(159, 173, 177, 0.9);
    margin:2rem;
    margin-bottom:20px;
    border-radius: 15px;
}
.abc{
    display: flex;
    justify-content: space-around;
    margin:5px;
}
h1{
    text-align: center;
    text-decoration: underline;
 font-family: serif;
 font-style: italic;
 color: rgb(201, 197, 192);
 font-size: 3rem;
 font-weight: 900;
 margin-bottom: 0px;
}
.soc{
    filter: drop-shadow(0.1rem 0.1rem 0 rgb(0, 8, 14));
    color:white;
}